
body {
    margin: 0px;
    padding: 0;
   
  }
  
  
  .content {
    grid-area: content;
    background: #ffee58;
    height: auto;
  }
 .content-img img {
   display: grid;
   float: right;
   padding: 65px;
   margin: 20px;
   place-items: center;
   clip-path: polygon(10px 250px, 400px 450px, 200px 0, 0 0); 
 }
 .des {
   color: white;
   text-align: center;
   font-size: 50px;
   padding-top: 65px;
   font-family: Arial, Helvetica, sans-serif;
 }
 .intro {
   color: black;
   text-shadow: 3px 5px 10px white;
   font-size: 30px;
   
 }
 .hello {
   color: #6e6e6e;
   text-shadow:  5px 0 5px aliceblue;
 }
 .name {
   color: teal;
   text-shadow: 5px 0 5px black;
   
 }
 /*for button*/
  .btn {
    background-color: transparent;
    font-size: 30px;
    color: black;
    float: right;
    margin: 10px;
    border-radius: 10px;
    text-shadow: 0 0 15px aliceblue;
  }
  .btn:hover {
    filter: drop-shadow(5);
    transition: all ease-in 100ms;
    color: rgba(255, 255, 255, 0.527);
    cursor: grabbing;
  }
  
  .header {
    grid-area: header;
    background-color: black;
    padding: 0 20px;
    color: white;

    
    }
    

    .title {
      float: left;
      font-family: fantasy;
      color: white;
      line-height: 100px;
      padding: 0 15px;
      text-transform: capitalize;
    
    }
    /***for navigation bar with the hamburger*/
    .navigation {
      text-align: right;
      line-height: 80px;
      height: 80px;
  }
  .navbar {
    margin: 0 25px 0 0;
}
.navbar a {
  text-decoration: none;
  color: white;
  margin: 0 12px;
  line-height: 80px;
  text-transform: uppercase;
  font-size: 20px;
}
.navbar .active {
  color: red;
}
label {
  margin: 0 35px 0 0;
  font-size: 20px;
  line-height: 80px;
  display: none;
}
#hamburger {
  display: none;
}


    .brdr {
      background: #ff6b6c;
  margin-bottom: -10vw;
  position: relative;
  z-index: 10;
  grid-area: brdr;
    }
   
    .social {
      grid-area: social;
     
      color: white;
      height: 100px;
     text-align: center;
     padding: 10px;
     margin: 25px;
    }

  
  .footer {
    grid-area: footer;
    text-align: center;
    box-shadow:5px 2 2px rgba(0, 0, 0, 0.534);
    color: white;
    margin: 20px;
   width: auto;
    
  }
  
  
  .contnr {
   
          display: grid;
          height: 100vh;
      grid-gap: 0pxpx;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-areas:
          "header  header  header"
          "content content content"
          "brdr brdr brdr";
          
      }
  
  
  @media only screen and (max-width:700px) {
    
      .contnr {
        display: grid;
       grid-gap: 0px;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-areas:
          "header  header  header"
          "content content content"
          "brdr brdr brdr"
          
          
        }
        label {
          display: block;
          cursor: pointer;
          width: 15px;
          float: right;
      }
      .navbar {
          text-align: center;
          width: 100%;
          background-color: gray;
          display: none;
          transition: .7s;
      }
      .navbar a {
          clear: right;
          display: block;
          margin: 0;
      }
      #hamburger:checked + .navbar {
          display: block;
      }
  }

  /*************
  for contact page*/
  .contact-area {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: green;
    margin: 20px;
    height: 40vh;
  }
  .send {
    background-color: transparent;
    margin: 10px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
  }
  /******for cv page*/
  .cv-position {
    text-align: center;
    display: flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
    color: black;
    background-color: coral
  }
  input:hover {
    color: blue;
    transition: ease-in 200ms;
  }

  
  