
body {
    margin: 3px;
   
  }
  
  
  .content {
    grid-area: content;
    grid-column: span 3;
    background: #ffee58;

  }
  
  .content-text {
    text-align: center;
    color: white;
    justify-items: center;
    background-color: rgba(165, 42, 42, 0.432);
    justify-content: center;
    padding: 5 px;
    margin: 0px;  
  }
 .content-img img {
   display: grid;
   place-items: center center;
   clip-path: circle(25%);
  
 }
 .oneicon {
   color: #ffee58;
   display: grid;
   place-items: center;

 }
  .btn {
    background-color: transparent;
   
    font-size: 30px;
    color: black;
    float: right;
    margin: 10px;
    border-radius: 10px;
    text-shadow: 0 0 15px aliceblue;
  }
  .btn:hover {
    filter: drop-shadow(5);
    transition: all ease-in 100ms;
    color: rgba(255, 255, 255, 0.527);
    cursor: grabbing;
  }
  
  .header {
    grid-area: header;
    background-color: black;
    padding: 0 20px;
    color: white;
    height: 100px;

    
    }
    

    .title {
      float: left;
      font-family: fantasy;
      color: white;
      line-height: 100px;
      padding: 0 15px;
      text-transform: capitalize;
    
    }

.nav-mob {
  float: right;
  line-height: 100px;
  text-transform: capitalize;
  

}
.nav-mob a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
  transition: .5s;
}

    .whatido{
      text-align: center;
      grid-area: whatido;
      text-shadow: 1px 0 5px gray;
      background-origin: border-box;
      
    }
    .whatido-des {
      background-color: teal;
      color: white;
      grid-column: span 2;
      background-origin: padding-box;
      box-shadow: 0 0 5px black;
      text-align: center;
      box-sizing: content-box;
      grid-area: whatdes;
      padding: 30px;
      margin: 10px;
      width: auto;
      height: 50px;
    }
   
    .brdr {
      background: #ff6b6c;
  margin-bottom: -10vw;
  position: relative;
  z-index: 10;
  grid-area: brdr;
  
    
    }
   
    .social {
      grid-area: social;
      background-color: rgba(0, 0, 0, 0.308);
      box-shadow: 0 5px 5px darkgray;
      color: white;
      height: 100px;
     text-align: center;
     padding: 10px;
     margin: 25px;
    }

  
  .footer {
    grid-area: footer;
    text-align: center;
    background-color: rgba(248, 8, 8, 0.418);
    box-shadow:5px 0 2px rgba(0, 0, 0, 0.534);
    color: white;
    margin: 20px;
   width: auto;
    
  }
  
  
  .contnr {
    background-color: red;
          display: grid;
          height: 100vh;
      grid-gap: 12px;
          grid-template-columns: 1fr 1fr 0fr;
          grid-template-areas:
          "header  header  header"
          "content content content"
          "whatido whatido whatido"
          "whatdes whatdes whatdes"
          "social social social"
          "footer footer footer"
          "brdr brdr brdr";
          
      }
  
  
  @media screen and (max-width:700px) {
    .content {
      grid-column: span 3;

    }
      .contnr {
        display: grid;
          height: 100vh;
      grid-gap: 5px;
          grid-template-columns: 1fr 2fr 1fr;
          grid-template-areas:
          "header  header  header"
          "content content content"
          "whatido whatido whatido"
          "whatdes whatdes whatdes"
          "social social social"
          "footer footer footer"
          "brdr brdr brdr"
          
          
        }

  }

  /*************
  for contact page*/
  .contact-area {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: green;
    margin: 20px;
    height: 40vh;
  }
  .send {
    background-color: transparent;
    margin: 10px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
  }
  /******for cv page*/
  .cv-position {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: black;
    background-color: coral
  }
  