@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab&display=swap');


body {
    margin: 0px;
    padding: 0;
    font-family: 'Roboto Slab', sans-serif;
   
  }
  
  .social i {
    color: white;
    padding: 20px;
  }
  .social i:hover {
    color: rgba(212, 219, 255, 0.63);
    transition: all ease-in-out 1s;  
  }
  .content {
    grid-area: content;
    background: #ffee58;
    height: auto;
  }
 .content-img img {
   display: grid;
   float: right;
   margin: 20px;
   place-items: center;
   clip-path: polygon(10px 250px, 400px 450px, 200px 0, 0 0); 
 }
 .des {
   
   
   text-align: center;
   letter-spacing: 5px;
   font-size: 50px;
   padding-top: 65px;
 }
 .intro {
   color: black;
   text-shadow: 3px 5px 10px white, 5px 0 5px black;
   font-size: 30px;
   text-transform: uppercase;
 }
 .hello {
   color: #6e6e6e;
   text-shadow:  5px 0 5px aliceblue;
   text-transform: uppercase;
 }
 .name {
   color: teal;
   text-shadow: 5px 0 5px black, 6px 0 0 gray;
   
 }
 /*for button*/
  .des button {
    background-color: transparent;
    font-size: 30px;
    color: white;
    margin: 10px;
    border-radius: 10px;
    text-shadow: 5px 0 5px black;
  }
  .des button:hover {
    background: transparent;
    transition: all ease-in 100ms;
    color: black;
    text-shadow: 5px 0 5px white;
    cursor: grabbing;
    box-shadow: 0 0 5px brown, 0 0 20px blue, 0 0 45px red;
    transition-delay: .2s;
  }
  
  .header {
    grid-area: header;
    background-color: black;
    padding: 0 20px;
    color: white;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
}

    .title {
      float: left;
      color: white;
      
      padding: 0 15px;    
    }
    /***for navigation bar with the hamburger*/
    .navigation {
      text-align: right;
      line-height: 80px;
      height: 80px;
  }
  .navbar {
    margin: 0 25px 0 0;
}
.navbar a {
  text-decoration: none;
  color: white;
  margin: 0 12px;
  line-height: 80px;
 
  font-size: 20px;
}
.navbar a:hover {
  color: green;
  transition: all ease-in 1s ;
}
.navbar .active {
  color: red;
}

label {
  margin: 0 35px 0 0;
  font-size: 20px;
  line-height: 80px;
  display: none;
}

#hamburger {
  display: none;
}
#hamburger:hover {
  color: #ff6b6c;
}


    .brdr {
      background: #ff6b6c;
  position: relative;
  
  grid-area: brdr;
    }
   
    .social {
      grid-area: social;
     
      color: white;
      height: 100px;
     text-align: center;
     padding: 10px;
     margin: 25px;
    }

  
  .footer {
    grid-area: footer;
    text-align: center;
    box-shadow:5px 2 2px rgba(0, 0, 0, 0.534);
    color: white;
    margin: 20px;
   width: auto;
    
  }
  
  
  .contnr {
   
          display: grid;
          height: 100vh;
      grid-gap: 2px;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-areas:
          "header  header  header"
          "content content content"
          "brdr brdr brdr";
          
      }
  
  
  @media only screen and (max-width:700px) {
    .content {
      font-size: 15px;
    }

    
      .contnr {
        display: grid;
       grid-gap: 0px;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-areas:
          "header  header  header"
          "content content content"
          "brdr brdr brdr"
          
          
        }
        label {
          display: block;
          cursor: pointer;
          width: 15px;
          float: right;
      }
.navigation {
  height: auto;
}
.header {
  padding: 0; 
}

      .navbar {
          text-align: center;
          width: 100%;
          background: rgb(197, 197, 197);
          display: none;
      }
      .navbar a {
          clear: right;
          display: block;
          border-bottom: 2px solid darkgrey;
         margin: 0 100px;
          color: black;
      }
      #hamburger:checked + .navbar {
          display: block;
      }
  }
 

  /*************
  for contact page*/
  .contact-area {
    background: #ffee58;
    background-size: cover;
    padding: 50px 0;
    display: grid;
    place-items: center;
  }
  .contact-area h1 {
    text-align: center;
  }
  
  /******for cv page*/
  
  
  
